.listaUsuarios{
  list-style: none;
  padding: 0%;
  margin: 0%;
}

// .itemLista{
//   text-align: center;
// }

.mensajeLocal{
  text-align: right;
  color: blue;
}

.lineaDivisora{
  margin: 0%;
}

.nomUsuario{
  margin: 0%;
  padding: 4%;
}

.nomUsuario:hover{
  cursor: pointer;
  background: #fcfbfc;
}

:host ::ng-deep {
  .card {
    height: 400px;
    overflow-y: scroll;
    padding: 22px;
  }

  .btnSubmit {
    width: 100%;
  }

  .input{
    width: 100%;
  }
}
