<app-appbar></app-appbar>


<div class="contenedor p-mt-5">
  <div class="p-grid">
    <div class="p-col-12 p-lg-3">
      <h3 class="p-text-center">Usuarios activos</h3>
      <div class="p-shadow-1 card">
        <ul class="listaUsuarios">
          <li class="itemLista" *ngFor="let usuario of usuariosActivosObs | async">
            <h4 *ngIf="usuario.nomUsuario != usuarioSocket.wsSocket.obtenerUsuario().nomUsuario" (click)="seleccionarUsuario(usuario)" class="nomUsuario">{{usuario.nombres}}</h4>
            <hr *ngIf="usuario.nomUsuario != usuarioSocket.wsSocket.obtenerUsuario().nomUsuario" class="lineaDivisora">
          </li>
        </ul>
      </div>
      <button pButton type="button" class="btnSubmit p-mt-2" label="Chat general" (click)="obtenerMensajes()"></button>

    </div>
    <div class="p-col-12 p-lg-9">
      <h3 class="p-text-center">Chat</h3>
      <p-card>
        <h3 *ngIf="usuario.nomUsuario!=null">Conversación con {{usuario.nombres}}</h3>
        <h3 *ngIf="usuario.nomUsuario==null">Conversación general</h3>

        <div class="p-shadow-1 card" id="chat-mensajes">
          <ng-container *ngFor="let msm of mensajes">
            <ng-container *ngIf="mensajeDesdeSesion(msm.nomUsuario)">
              <div class="p-grid">
                <div class="p-col-12 p-lg-10">
                  <strong class="mensajeLocal">{{msm.nombres}}</strong>: {{msm.mensaje}}
                </div>
                <div class="p-col-12 p-lg-2">
                  <small>{{msm.fechaMensaje | date:'yyyy-MM-dd HH:mm:ss'}}</small>
                </div>
              </div>
              <hr>
            </ng-container>
            <ng-container *ngIf="!mensajeDesdeSesion(msm.nomUsuario)">
              <div class="p-grid">
                <div class="p-col-12 p-lg-10">
                  <strong>{{msm.nombres}}</strong>: {{msm.mensaje}}
                </div>
                <div class="p-col-12 p-lg-2">
                  <small>{{msm.fechaMensaje | date:'yyyy-MM-dd HH:mm:ss'}}</small>
                </div>
              </div>
              <hr>
            </ng-container>
          </ng-container>
        </div>



      </p-card>
      <br>

      <form (ngSubmit)="enviarMensaje()" *ngIf="!chatPrivado">
        <div class="p-field">
          <input id="mensaje" name="mensaje" class="input" [(ngModel)]="mensaje" type="text" pInputText placeholder="Mensaje..." autocomplete="none">
        </div>
        <button pButton pRipple type="submit" class="btnSubmit" label="Enviar mensaje"></button>
      </form>

      <form (ngSubmit)="enviarMensajePrivado()" *ngIf="chatPrivado">
        <div class="p-field">
          <input id="mensaje" name="mensaje" class="input" [(ngModel)]="mensaje" type="text" pInputText placeholder="Mensaje..." autocomplete="none">
        </div>
        <button pButton pRipple type="submit" class="btnSubmit" label="Enviar mensaje"></button>
      </form>
    </div>
  </div>

</div>

<app-footer></app-footer>
